html {
  background-color: #000000;
}

html, body {
  min-height: 100%;
  font-weight: 300;
  color: #ffffff;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 20px 0 0 0;
  width: 65%;
  margin: auto;
}

.page-title {
  text-align: center;
  font-weight: inherit;
}

.main {
  background-color: #000000;
  text-align: center;
}

.company-description {
  font-size: 0.8rem;
  border: 2px solid #ffffff;
  padding: 30px;
}

.learn-more {
  color: #b3e0ff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.space-container {
  border: 2px solid #ffffff;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space-item {
  flex: 1;
  flex-basis: 25%;
  margin: 20px;
}

.space-item .thumbnail {
  width: 100%;
  height: auto;
}

/* FOOTER NAVIGATION */

nav {
  margin-top: 30px;
  font-size: 0.70em;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  margin: 0 20px 0 0;
}

nav a {
  line-height: 60px;
  border: 0.75px solid #ffffff;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

.contact-btn {
  cursor: pointer;
  margin: -23px 30px 0 0;
  float: right;
}

.contact-btn a {
  color: #ffffff;
}

.contact-btn a:active {
  position: relative;
  top: 3px;
  color: #b3e0ff;
}


/* HOVER */

h1:hover, .contact-btn a:hover, nav li:hover {
  color: #b3e0ff;
}

.learn-more:hover {
  color: #ffffff;
}